<div class="container mt-3">
    <h2 class="m-4">All-pizza</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let item of pizzas" routerLink="/Product-page" routerLinkActive="active">
      <div class="card h-100">
        <img
          src="{{item.img}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text">
            ₹{{item.price}}
          </p>
        </div>
      </div>
    </div>
</div>    
</div>
