@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Rubik+Moonrocks&family=Splash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Rock+Salt&family=Rubik+Moonrocks&family=Splash&display=swap');
h2 {
    font-family: 'Rock Salt', cursive;
    font-family: 'Rubik Moonrocks', cursive;
    font-family: 'Splash', cursive;
}


